@import '../../../styles/main.scss';

#progress {
  position: absolute;
  top: 50px;
  right: 140px;
}

#progressbar {

}

#totalH1 {
  position: absolute;
  top: -30px;
  right: -70px;
  font-family: $brand-font;
  font-size: 22px;
}