@import '../../../styles/main.scss';

#playQuad {
  background-color: $playColor;
  min-height: 21em;
  margin: auto;
  margin-top: 160px;
  border-radius: 0 40px 0 0;
  text-align: center;
}

#progressBar {
  height: 23px;
  width: 160px;
  border-radius: 4px;
  z-index: 100;
  position: absolute;
  top: 20px;
  right: 121px;
  background-color: white;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: black; 
}

#progress {
  background-color: red;
  width: 3px;
  height: 23px;
  position: absolute;
  text-align: center;
}





.ui-progressbar {
  position: relative;
}
#progressbar {
  background: #f5fffa;
}
.ui-progressbar .ui-progressbar-value {
  margin: 0;
}
.progress-label {
  position: absolute;
  text-align: center;
  width: 100%;
  color: #cccccc;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}
.ui-widget-header {
  background: #ec2528;
}
p {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px;
}
.well {
  margin-top: 20px;
}