body {
  background-color: white;
}

.container {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
}

#eatQuad {
  width: 600px;
  background-color: greenyellow;
  min-height: 20em;
  margin: auto;
  margin-right: 5px;
  margin-left: 5px;
}
#sleepQuad {
  width: 600px;
  background-color: red;
  min-height: 20em;
  margin: auto;
  margin-right: 5px;
  margin-left: 5px;
}
#fightQuad {
  width: 600px;
  background-color: blue;
  min-height: 20em;
  margin: auto;
  margin-right: 5px;
  margin-left: 5px;
}
#playQuad {
  width: 600px;
  background-color: teal;
  min-height: 20em;
  margin: auto;
  margin-right: 5px;
  margin-left: 5px;
}